body {
    background-color: orange;
}

td {
 border: solid 3px black;
 padding: 10px;
 width: 50%;
 background-color: skyblue;
}

td:hover {
    border: solid 3px black;
    padding: 10px;
    width: 50%;
    background-color: lawngreen;
}

table {
    width: 100%;
    text-align: right;
}

.text {
    font-family: Tahoma;
    font-size: 210%;
    color: black;
    padding-right: 3%;
    font-weight: bold;
}

img {
    padding-left: 3%;
}